# List of required packages (Dependencies)
redis

# If you need to specify a version
#Flask==0.8
#Jinja2==2.6
#Werkzeug==0.8.3
#certifi==0.0.8
#chardet==1.0.1
#distribute==0.6.24
#gunicorn==0.14.2
#requests==0.11.1

# Or you need not a pip package, @'...' specifies git branch
#git+https://github.com/Kylmakalle/pyTelegramBotAPI.git@feature-BotAPIV3
#git+https://github.com/dbaldanza/sdmpv_bot.git@master

# Or you have .zip library
#https://site.org/files/package.zip
